<ul class="icons">
  <li class="icons">
    <a href="cv/cv_raffaello_seri.pdf">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
    </a>
  </li>
  <p style="padding-top:0.5rem">Feel free to <a href="mailto:raffaello.seri@gmail.com">contact me</a> if you require the most up-to-date version.</p>

  <p style="padding-top:0.5rem"> Here is a link: <a href="https://www.scopus.com/record/display.uri?src=s&origin=cto&ctoId=CTODS_892375372&stateKey=CTOF_892368014&eid=2-s2.0-85027572646"/>scopus</a>.</p>

  <p <iframe  height="50" data="http://api.elsevier.com/content/abstract/citation-count?doi=10.1016/S0014-5793(01)03313-0&httpAccept=text/html&apiKey=7f59af901d2d86f78a1fd60c1bf9426a"></iframe>.</p>
</ul>
