
<p> <img src="//avatars3.githubusercontent.com/raffaelloseri?v=3&s=460">

<p> I am a professor of Econometrics at the
<a href="http://eco.uninsubria.it">Department of Economics</a>
of the
<a href="https://www.uninsubria.it">Universit&agrave; degli Studi dell'Insubria</a>.
I am also a member of the
<a href="https://www.researchgate.net/lab/Center-for-Nonlinear-and-Complex-Systems-Giorgio-Mantica">Center for Nonlinear and Complex Systems</a>
in the same university and of the
<a href="https://www.sdu.dk/en/om_sdu/institutter_centre/c_comac">Centre for Computational & Organisational Cognition</a> in the
<a href="https://www.sdu.dk/en">University of Southern Denmark</a>.
</p>
<p> I have a Laurea and a PhD in Industrial Engineering from
<a href="https://www.polimi.it/en/">Politecnico di Milano</a>, a DEA in Mathematics applied to Social Sciences from
<a href="http://www.dauphine.fr/en/welcome.html">Universit&eacute; Paris Dauphine</a>/<a href="http://www.ensae.fr/ensae/en/">ENSAE</a>
and a PhD in Mathematics from
<a href="http://www.dauphine.fr/en/welcome.html">Universit&eacute; Paris Dauphine</a>.
</p>

<p>
I am coordinator of the major in Economics of Innovation in the MSc
<a href="https://www.uninsubria.eu/lauream/course/global-entrepreneurship-economics-and-management-geem">
Global Entrepreneurship Economics and Management (GEEM)</a> of the
<a href="https://www.uninsubria.it">Universit&agrave; degli Studi dell'Insubria</a>.
We offer three double-degree programs with the
<a href="https://www.uni-jena.de/en/start.html">
Friedrich-Schiller-Universit&auml;t Jena</a>, the
<a href="https://www.uni-hohenheim.de/en/english">
University of Hohenheim</a> and the
<a href="https://www.u-bordeaux.com/">
Université de Bordeaux</a>.
</p>

<p>
I have co-organized with Francesco Guala and Ivan Moscati two summer schools: in 2017,  the Lake Como Summer School on
<a href="http://etdm.lakecomoschool.org">
The Evolution of the Economic Theory of Decision-making</a>,
with the support of
<a href="http://www.eshet.net">
ESHET (European Society for the History of Economic Thought)</a>;
in 2019, the Lake Como Summer School on
<a href="https://ebmp.lakecomoschool.org/">
Economic Behaviours: Models, Measurements, and Policies</a>,
with the support of
<a href="http://www.econmethodology.org/">
INEM (International Network for Economic Method)</a>.


</p>

<p> I have published in:
  <ul style="list-style-type:disc">
    <li>econometrics (<em>Journal of Econometrics</em>, <em>Journal of Applied Econometrics</em>),</li>
    <li>statistics (<em>Computational Statistics & Data Analysis</em>, <em>Statistical Science</em>),</li>
    <li>probability (<em>The Annals of Probability</em>, <em>Stochastic Processes and their Applications</em>),</li>
    <li>economics (<em>Journal of Economic Psychology</em>),</li>
    <li>mathematical analysis (<em>Journal of Mathematical Analysis and Applications</em>, <em>Annali della Scuola Normale Superiore di Pisa - Classe di Scienze</em>),</li>
    <li>mathematical psychology (<em>Journal of Mathematical Psychology</em>),</li>
    <li>numerical analysis (<em>Mathematics of Computation</em>, <em>Journal of Complexity</em>),</li>
    <li>operations research (<em>Management Science</em>, <em>Journal of Optimization Theory and Applications</em>, <em>European Journal of Operational Research</em>, <em>SIAM Journal on Optimization</em>, <em>Journal of Nonlinear and Convex Analysis</em>),</li>
    <li>actuarial science (<em>ASTIN Bulletin</em>),</li>
    <li>signal processing (<em>IEEE Communications Letters</em>) and</li>
    <li>management (<em>Business & Society</em>, <em>Computational and Mathematical Organization Theory</em>).
  </ul>
</p>

<p> I have taught courses and lectures in econometrics, statistics, economics, and psychology:
  <ul style="list-style-type:disc">
    <li>basic econometrics, financial econometrics, marketing statistics, econometrics of industrial organization,
      and econometrics of competitive and regulated markets at the <a href="https://www.uninsubria.it">Universit&agrave; degli Studi dell'Insubria</a>,</li>
    <li>micro-economics in the Master &laquo;Analisi e Valutazione delle Politiche Pubbliche&raquo; at the Senate of the Italian Republic,</li>
    <li>survival analysis, extreme value theory and likelihood factorizations in the Ph.D. in Econometrics and Empirical Economics, at Universit&agrave; di Roma Tor Vergata,</li>
    <li>causality testing in the Central-German Doctoral Program in Economics, at <a href="https://www.uni-jena.de/en/start.html">
    Friedrich-Schiller-Universit&auml;t Jena</a> (2016),</li>
    <li>mathematical psychology in the Summer School <a href="http://etdm.lakecomoschool.org">The Evolution of the Economic Theory of Decision-making</a> (2017),</li>
    <li>complex systems in the Summer School <a href="http://ceim.lakecomoschool.org">Advanced school on complexity and emergence: ideas, methods, with a special attention to economics and finance</a> (2018),</li>
    <li>econometrics of policy evaluation in the <a href="http://gk.wiwi.uni-jena.de/wiki/index.php?n=Main.12thJenaSummerAcademy">12th Jena Summer Academy on Innovation and Uncertainty</a> (2018).</li>
  </ul>
</p>
